
body {
    display: flex;
}
main{
    flex-grow: 1;
    overflow: hidden;
    font-family:sans-serif;
}

.navbar{
    
    height:77px;
    width:100%;
    padding: 26px;
    box-sizing: border-box;
   


}

.collapse {
    justify-content: flex-end;
}

.navbar-bar {
    justify-content: flex-end;


}
 .navbar > .container-fluid {

    height: inherit;
    
}




.navbar > .container-fluid >.logo{
    display: flex;
    
    height: inherit;
    width:auto;
    justify-content: space-evenly;
    align-items:center;
    padding: 16px;


    color: #fff;


}




.navbar > .container-fluid> .logo >img{
    height: 160%;
    
    width: auto;
    object-fit: cover;



}


.navbar > .container-fluid> .logo >span {
    margin-left: 20px;

    font-family: "Source Sans Pro";
    font-size: 50px;


}

